*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: inherit;
  background-color: var(--color-surface-alt);
}

a {
  color: inherit;
}

button,
input,
select,
textarea {
  font: inherit;
}

main {
  display: block;
}
